.holder {
    background: #f0efe9;
    min-height: 100vh;
}

.rounded {
    border-radius: 1rem !important;
}

.text-gray {
    color: #aaa;
}

input:not(#showAll):checked + label {
    text-decoration: line-through;
    color: #adb5bd;
}

label {
    cursor: pointer;
}

a {
    text-decoration: none;
}
.form-control {
    background: #f0efe9;
    border: #f0efe9;
}

.btn-outline-secondary {
    background: #f0efe9;
    border: #f0efe9;
}

.btn-outline-secondary:hover {
    background: #adb5bd;
    border: #adb5bd;
}


.button-logout:disabled,
button[disabled]{
    background: #f0efe9;
    border: #f0efe9;
}

.form-select {
    background: #f0efe9;
    border: #f0efe9;
}










